body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main__container {
  border:double 8px #000;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.ReactModal__Body--open {
    overflow: hidden;
}